---
layout: page
# All the Blogs of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

{% assign sort_blogs = site.posts | map: "blog" | compact | uniq | sort %}

{% for blog_name in sort_blogs %}
  {% assign posts_of_blog = site.posts | where: "blog", blog_name %}
  {% assign first_post = posts_of_blog | first %}

  {% if blog_name == first_post.blog[0] %}
    {% assign sub_blogs = '' | split: '' %}

    {% for post in posts_of_blog %}
      {% assign second_blog = post.blog[1] %}
      {% if second_blog %}
        {% unless sub_blogs contains second_blog %}
          {% assign sub_blogs = sub_blogs | push: second_blog %}
        {% endunless %}
      {% endif %}
    {% endfor %}

    {% assign sub_blogs = sub_blogs | sort %}
    {% assign sub_blogs_size = sub_blogs | size %}

    <div class="card blogs">
      <!-- top-blog -->
      <div
        id="{{ HEAD_PREFIX }}{{ group_index }}"
        class="card-header d-flex justify-content-between hide-border-bottom"
      >
        <span class="ms-2">
          <i class="far fa-folder{% if sub_blogs_size > 0 %}-open{% endif %} fa-fw"></i>

          {% capture _blog_url %}/blogs/{{ blog_name | slugify | url_encode }}/{% endcapture %}
          <a href="{{ _blog_url | relative_url }}" class="mx-2">{{ blog_name }}</a>

          <!-- content count -->
          {% assign top_posts_size = posts_of_blog | size %}
          <span class="text-muted small font-weight-light">
            {% if sub_blogs_size > 0 %}
              {{ sub_blogs_size }}
              {% if sub_blogs_size > 1 %}
                {{
                  site.data.locales[lang].categories.category_measure.plural
                  | default: site.data.locales[lang].categories.category_measure
                }}
              {% else %}
                {{
                  site.data.locales[lang].categories.category_measure.singular
                  | default: site.data.locales[lang].categories.category_measure
                }}
              {% endif -%}
              ,
            {% endif %}

            {{ top_posts_size }}

            {% if top_posts_size > 1 %}
              {{
                site.data.locales[lang].categories.post_measure.plural
                | default: site.data.locales[lang].categories.post_measure
              }}
            {% else %}
              {{
                site.data.locales[lang].categories.post_measure.singular
                | default: site.data.locales[lang].categories.post_measure
              }}
            {% endif %}
          </span>
        </span>

        <!-- arrow -->
        {% if sub_blogs_size > 0 %}
          <a
            href="#{{ LIST_PREFIX }}{{ group_index }}"
            data-bs-toggle="collapse"
            aria-expanded="true"
            aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
            class="blog-trigger hide-border-bottom"
          >
            <i class="fas fa-fw fa-angle-down"></i>
          </a>
        {% else %}
          <span data-bs-toggle="collapse" class="blog-trigger hide-border-bottom disabled">
            <i class="fas fa-fw fa-angle-right"></i>
          </span>
        {% endif %}
      </div>
      <!-- .card-header -->

      <!-- Sub-blogs -->
      {% if sub_blogs_size > 0 %}
        <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
          <ul class="list-group">
            {% for sub_blog in sub_blogs %}
              <li class="list-group-item">
                <i class="far fa-folder fa-fw"></i>

                {% capture _sub_blog_url %}/blogs/{{ sub_blog | slugify | url_encode }}/{% endcapture %}
                <a href="{{ _sub_blog_url | relative_url }}" class="mx-2">{{ sub_blog }}</a>

                {% assign posts_size = site.posts | where: "blog", sub_blog | size %}
                <span class="text-muted small font-weight-light">
                  {{ posts_size }}

                  {% if posts_size > 1 %}
                    {{
                      site.data.locales[lang].categories.post_measure.plural
                      | default: site.data.locales[lang].categories.post_measure
                    }}
                  {% else %}
                    {{
                      site.data.locales[lang].categories.post_measure.singular
                      | default: site.data.locales[lang].categories.post_measure
                    }}
                  {% endif %}
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <!-- .card -->

    {% assign group_index = group_index | plus: 1 %}
  {% endif %}
{% endfor %}
